# pixi environments
.pixi/*
!.pixi/config.toml

# Ignore exported HTML files (do not commit local HTML exports)
*.html
# allow keeping an empty inputs folder tracked by adding .gitkeep
data/inputs/.gitkeep

# Ignore generated CSV outputs
*.csv

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyc

# debugger files
tools/*